<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="contentDocRight" th:fragment="contentDocRight">
            <div class="docLinks">
                <a class="" th:href="@{'/documentation/sql'}">SQL</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL Select</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL Where</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL And, Or, Not</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL Order By</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL Insert Into</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL Null Values</a>
                <a class="" th:href="@{'/documentation/sql'}">SQL Update</a>
            </div>
        </div>
    </body>
</html>