<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="contentDocRight" th:fragment="contentDocRight">
            <div class="docLinks" th:each="lesson : ${lessons}">
                <a class="docRightLink" th:classappend="${#lists.contains(finishLessons, lesson.getId()) ? 'completedLesson' : ''} + ' ' + ${#httpServletRequest.getRequestURI() == '/documentation/*{lesson.getId()}' ? 'docRightLink-constant' : ''}" th:href="@{'/documentation/'+*{lesson.getId()}}" th:text="*{lesson.getLesson()}"></a>
            </div>
        </div>
    </body>
</html>