<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="contentDocRight" th:fragment="contentDocRight">
            <div class="docLinks">
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/1select'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/1select'}">SQL Select</a>
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/2where'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/2where'}">SQL Where</a>
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/3'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/3AndOrNot'}">SQL And, Or, Not</a>
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/4'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/sql'}">SQL Order By</a>
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/5'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/sql'}">SQL Insert Into</a>
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/6'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/sql'}">SQL Null Values</a>
                <a class="docRightLink" th:classappend="${#httpServletRequest.getRequestURI() == '/documentation/7'} ? 'docRightLink-constant' : ''" th:href="@{'/documentation/sql'}">SQL Update</a>
            </div>
        </div>
    </body>
</html>