<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="sqlQueryTask">
        <form id="formInputQuery" th:action="@{'/tasks/'+${taskId}}" th:method="post">
            <div class="form-control-settings">
                <label th:for="${idForSql}" th:style="${style == 'hide'} ? 'display:none' : ''">
                    <input name="result" th:value="${result}"/>
                    <textarea th:id="${idForSql}" name="sqlQuery" th:text="${content}"></textarea>
                </label>
            </div>
            <button type="submit" name="sendQuery">Отправить запрос</button>
        </form>

        <div th:if="${resultQuery != null && resultFromDoc == result}" id="openModal" class="modal">
            <div th:if="${resultQuery.isEmpty()}">Таблица пустая, проверьте правильность запроса</div>
            <table style="color: #dddddd; width: 100%; margin-bottom: 20px; border: 1px solid #dddddd; border-collapse: collapse;">
                <div th:each="query, isState : ${resultQuery}">
                    <thead>
                    <tr>
                        <th th:if="${isState.index == 0}" style="background: #379a9a; border: 1px solid #dddddd; padding: 5px;">№</th>
                        <th th:if="${isState.index == 0}" style="border: 1px solid #dddddd; padding: 5px;" th:each="getKey: ${query}" th:text="*{getKey.key}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="background: #379a9a; border: 1px solid #dddddd; padding: 5px;" th:text="${isState.index+1}"></td>
                        <td th:each="getValue: ${query}" style="border: 1px solid #dddddd; padding: 5px;" th:text="*{getValue.value}"></td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</body>
</html>