<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mainBtn.css">
    <link rel="stylesheet" href="/css/docPage.css">
    <link rel="stylesheet" href="/css/tasksUl.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <title>Title</title>
</head>
<body>
    <div th:replace="components/top-panel :: top-panel"></div>

    <div class="marginContentMain">
        <div style="color: #ffffff">
            <h1 style="font-size: 50px;">Выберите задание для тренировки</h1>
        </div>

        <div class="tasksUl">
            <ul>
                <li th:each="task : ${tasks}">
                    <a th:classappend="${#lists.contains(finishTasksList, task.getId())} ? 'tasksCompleted' : ''" class="tasksLink" th:href="@{'/tasks/' + *{task.getId()}}" th:text="*{task.getTaskText()}"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>