<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mainBtn.css">
    <link rel="stylesheet" href="/css/docPage.css">
    <link rel="stylesheet" href="/css/sql.css">
</head>
<body>
    <div th:replace="components/top-panel :: top-panel"></div>

    <div class="task">
        <h1 class="taskTitle" th:text="${task.getId()}"></h1>
        <p class="taskText" th:text="${task.getTaskText()}"></p>
        <div th:replace="components/sqlQueryTask :: sqlQueryTask(current_page='task', idForBut='but1', idForSql='safc', result='1')"></div>
        <p th:if="${isCorrectResult}">Correct!</p>
    </div>
</body>
</html>