<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <link rel="stylesheet" href="/css/videoCards.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/records.css">
    <link rel="stylesheet" href="/css/photoUserStyle.css">
    <link rel="stylesheet" href="/css/videoPlayButton.css">
    <link rel="stylesheet" href="/css/mainBtn.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<div th:replace="components/top-panel :: top-panel"></div>
<div class="marginContentMain" style="color: #ffffff">
    <h1 style="font-size: 50px">Обучающий веб-сервис</h1>

    <a class="mainBtn" th:href="@{'/documentation'}">Документация</a>
    <a class="mainBtn" th:href="@{'/tasks'}">Задачи</a>
    <a class="mainBtn" th:href="@{'/sandbox'}">Песочница</a>

    <h3 style="width: 70%; font-size: 21px; margin-top: 50px; color: #bbbbbb">
        Сайт поможет каждому, кто хочет приобрести или повысить свои навыки в изучении как одного, так и нескольких языков.
        Суть обучения состоит в том, что вы сами изучаете написанную документацию и на основе пройденных материалов,
        можете попрактиковаться на подготовленных задачах.
    </h3>

    <table style="color: #dddddd; width: 100%; margin-bottom: 20px; border: 1px solid #dddddd; border-collapse: collapse;">
        <h1>Рейтинг</h1>
        <div th:each="point, isState : ${points}">
            <thead>
            <tr>
                <th th:if="${isState.index == 0}" style="background: #379a9a; border: 1px solid #dddddd; padding: 5px;">№</th>
                <th th:if="${isState.index == 0}" style="border: 1px solid #dddddd; padding: 5px;">username</th>
                <th th:if="${isState.index == 0}" style="border: 1px solid #dddddd; padding: 5px;">points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="background: #379a9a; border: 1px solid #dddddd; padding: 5px;" th:text="${isState.index+1}"></td>
                <td style="border: 1px solid #dddddd; padding: 5px;" th:text="*{point.getUser().getUsername()}"></td>
                <td style="border: 1px solid #dddddd; padding: 5px;" th:text="*{point.getPoint()}"></td>
            </tr>
            </tbody>
        </div>
    </table>
</div>

<script src="/scripts/infiniteScroll.js"></script>
<script src="/scripts/imageZoom.js"></script>
</body>
</html>